include README.md
include LICENSE
include requirements.txt
recursive-include image_description_toolkit *.json
recursive-include image_description_toolkit *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store